vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2008 16:10:50 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|Tabelle1/filme.html Tabelle1/besetzung.html Tabelle1/ruebe.htm Tabelle1/conny.htm Tabelle1/friedhelm.htm Tabelle1/micha.htm Tabelle1/musik.html Tabelle1/kontakt.html Tabelle1/manu.htm Tabelle1/cathleen.htm Tabelle1/muddy.htm Tabelle1/Impressum.html Tabelleneu/Bilder.html Tabelleganzneu/test.htm Tabelle/home.htm Tabelle1/index.htm Tabelle1/Raupe.htm Tabelleganzneu/test2.htm
vti_author:SR|PC-CONRAD\\Conrad
vti_modifiedby:SR|PC-CONRAD\\Conrad
vti_timecreated:TR|25 Jun 2008 16:10:50 -0000
vti_lineageid:SR|{F83A72AB-E621-43D7-AEC4-DB0DECB829F5}
vti_cacheddtm:TX|25 Jun 2008 15:10:50 -0000
vti_filesize:IR|1649
vti_cachedlinkinfo:VX|S|data:image/gif;base64,AAAA S|../images/prevlabel.gif S|../images/nextlabel.gif
vti_cachedsvcrellinks:VX|NSUS|data:image/gif;base64,AAAA FSUS|Tabelleganzneu/images/prevlabel.gif FSUS|Tabelleganzneu/images/nextlabel.gif
