vti_encoding:SR|utf8-nl
vti_author:SR|PC-CONRAD\\Conrad
vti_modifiedby:SR|PC-CONRAD\\Conrad
vti_timelastmodified:TR|21 Apr 2009 11:38:20 -0000
vti_timecreated:TR|21 Apr 2009 10:06:05 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{9977AF9C-53EA-4163-B6CB-0D53A3C7102B}
vti_backlinkinfo:VX|Tabelleganzneu/filme.html Tabelleganzneu/Regentext.htm Tabelleganzneu/Seide.htm Tabelleganzneu/besetzung.html Tabelleganzneu/film.htm Tabelleganzneu/Muedigkeittext.htm Tabelleganzneu/musikindex.htm Tabelleganzneu/musik.html Tabelleganzneu/Bilder.html Tabelleganzneu/kontakt.html Tabelleganzneu/Impressum.html Tabelleganzneu/medley.htm Tabelleganzneu/raus.htm
vti_nexttolasttimemodified:TW|21 Apr 2009 10:06:05 -0000
vti_cacheddtm:TX|21 Apr 2009 11:38:20 -0000
vti_filesize:IR|2214
vti_cachedlinkinfo:VX|S|images/back_main1.jpg S|images/header.jpg S|images/fuss.jpg S|images/blue.jpg S|images/black.jpg S|images/buttonrund.gif S|images/buttonrund.gif S|images/buttonrund_on.gif
vti_cachedsvcrellinks:VX|FSUS|Tabelleflash/images/back_main1.jpg FSUS|Tabelleflash/images/header.jpg FSUS|Tabelleflash/images/fuss.jpg FSUS|Tabelleflash/images/blue.jpg FSUS|Tabelleflash/images/black.jpg FSUS|Tabelleflash/images/buttonrund.gif FSUS|Tabelleflash/images/buttonrund.gif FSUS|Tabelleflash/images/buttonrund_on.gif
