vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Apr 2009 11:11:42 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|PC-CONRAD\\Conrad
vti_modifiedby:SR|PC-CONRAD\\Conrad
vti_timecreated:TR|19 Oct 2008 00:15:06 -0000
vti_lineageid:SR|{95A9E525-0711-4061-BD9C-73297FED5920}
vti_backlinkinfo:VX|hp67/hp67z/Raustext.html Tabelle1/filme.html Tabelle1/besetzung.html Tabelle1/raus.htm hp67/hp67z/index.html Tabelle1/Regentext.htm Tabelle1/musik.html Tabelle1/film.htm Tabelle1/kontakt.html Tabelle/Test.html Tabelle1/Impressum.html Tabelle1/medley.htm Tabelleneu/Bilder.html Tabelleganzneu/test.htm hp67z/indexneu.htm Tabelle1/index.htm Tabelle1/musikindex.htm Tabelle1/Muedigkeittext.htm Tabelle1/Seide.htm Tabelleganzneu/test2.htm
vti_nexttolasttimemodified:TW|21 Apr 2009 11:09:57 -0000
vti_cacheddtm:TX|21 Apr 2009 11:11:42 -0000
vti_filesize:IR|2213
vti_cachedlinkinfo:VX|S|images/back_main.jpg S|images/header.jpg S|images/fuss.jpg S|images/blue.jpg S|images/black.jpg S|images/buttonrund.gif S|images/buttonrund.gif S|images/buttonrund_on.gif
vti_cachedsvcrellinks:VX|FSUS|Tabelleganzneu/images/back_main.jpg FSUS|Tabelleganzneu/images/header.jpg FSUS|Tabelleganzneu/images/fuss.jpg FSUS|Tabelleganzneu/images/blue.jpg FSUS|Tabelleganzneu/images/black.jpg FSUS|Tabelleganzneu/images/buttonrund.gif FSUS|Tabelleganzneu/images/buttonrund.gif FSUS|Tabelleganzneu/images/buttonrund_on.gif
